/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * copyright 2024 unjustifiable_1
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --african-violet: #a792c1ff;
  --celadon: #acd09dff;
  --vanilla: #ebe6a2ff;
  --powder-blue: #a2c8e8ff;
  --charcoal: #3f4d59ff;

  --clr-brand-1: var(--african-violet);
  --clr-brand-2: var(--celadon);
  --clr-brand-3: var(--vanilla);
  --clr-brand-4: var(--powder-blue);
  --clr-yellow: hsl(51, 95%, 54%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey: var(--charcoal);
  --clr-white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-saira-stencil-one: "Saira Stencil One", sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 1.8rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease-in-out;

  /**
   * spacing
   */
  --btn-padding: 10px 25px;
  --content-padding: 24px;
  --section-padding: 80px;
  --gap10: 10px;
  --gap15: 15px;
  --gap20: 20px;
  --gap30: 30px;
  --gap50: 50px;

  /**
   * radius
   */

  --radius-4: 4px;
  --radius-12: 12px;

}






/*-----------------------------------*\
 * #THEME COLORS
\*-----------------------------------*/

body.dark_theme {

  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);

  /**
   * shadows
   */

  --shadow-1: 10px 10px 40px var(--card-shadow);
  --shadow-2:
    0 0 4px var(--card-shadow),
    0 0 10px var(--card-shadow),
    0 0 20px var(--card-shadow),
    0 0 80px var(--card-shadow);

}

body.light_theme {

  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);

  /**
   * shadows
   */

  --shadow-1: 10px 10px 40px var(--card-shadow);
  --shadow-2:
    0 0 4px var(--card-shadow),
    0 0 10px var(--card-shadow),
    0 0 20px var(--card-shadow),
    0 0 80px var(--card-shadow);

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon {
  display: block;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color: var(--clr-brand-2);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}

html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

body.active {
  overflow: hidden;
}





/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 10px;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  font-weight: 400;
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-5);
}

.w-100 {
  width: 100%;
}

.btn {
  max-width: max-content;
  color: var(--color-primary);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: var(--btn-padding);
  border: 1px solid transparent;
  border-radius: var(--radius-4);
  transition: var(--transition-1);
  white-space: nowrap;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap20);
}

.btn-primary {
  border-color: var(--color-primary);
}

.btn-primary:is(:hover, :focus) {
  background: var(--clr-brand-2);
  border-color: var(--clr-brand-2);
  color: var(--clr-black);
}

.btn-secondary {
  background: var(--clr-brand-4);
  border-color: var(--clr-brand-4);
  color: var(--clr-black);
}

.btn-secondary:is(:hover, :focus) {
  --clr-brand-4: var(--clr-brand-3);
}

.section {
  margin: var(--section-padding) 0;
}

.section-subtitle {
  position: relative;
  color: var(--color-secondary);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--color-secondary);
}

.section-title {
  max-width: 350px;
  margin-bottom: 30px;
}

.section-text {
  color: var(--color-secondary);
  line-height: 1.8;
  margin-bottom: 30px;
}

.tooltip {
  position: absolute;
  background: var(--clr-brand-2);
  min-width: max-content;
  color: var(--clr-white);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.bg-box {
  padding: var(--gap50) var(--gap10);
  box-shadow: var(--shadow-1);
}

.bg-clr-b1 {
  background-color: var(--clr-brand-1);
}

.bg-clr-b2 {
  background-color: var(--clr-brand-2);
}

.bg-clr-b3 {
  background-color: var(--clr-brand-3);
}

.bg-clr-b4 {
  background-color: var(--clr-brand-4);
}

.bg-br-4 {
  border-radius: var(--radius-4);
}

.bg-br-12 {
  border-radius: var(--radius-12);
}






/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  padding-block: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
  background-color: var(--bg-primary);
}

.header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap10);
}

.logo {
  position: relative;
  min-width: 77px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.header .logo {
  img {
    height: 26px;
  }
}

/* .logo img {
  aspect-ratio: 1;
} */

.logo a {
  color: var(--color-primary);
  font-family: var(--ff-saira-stencil-one);
}

.logo span {
  display: inline-block;
  color: var(--clr-brand-1);
  margin-left: 2px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: var(--gap20);
  margin-left: auto;
}

.navbar-actions select {
  color: var(--color-primary);
  width: 45px;
}

.navbar-actions option {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.theme-btn {
  padding: 4px;
  width: 48px;
  background: var(--bg-secondary);
  border-radius: 100px;
  transition: var(--transition-1);
}

.header.active .theme-btn {
  background: var(--bg-primary);
}

.theme-btn .icon {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--color-primary);
  transition: var(--transition-1);
}

.theme-btn.active .icon {
  left: 20px;
  box-shadow: inset 20px -20px var(--clr-yellow);
}

.nav-toggle-btn {
  position: relative;
  transform: rotate(-55deg);
  transition: var(--transition-1);
  z-index: 2;
}

.nav-toggle-btn.active {
  transform: rotate(-45deg);
}

.nav-toggle-btn span {
  width: 20px;
  height: 2px;
  background: var(--color-primary);
  margin: 5px;
  transition: var(--transition-1);
}

.nav-toggle-btn :is(.one, .three) {
  width: 10px;
}

.nav-toggle-btn .one {
  margin-left: auto;
  transform-origin: left;
}

.nav-toggle-btn .three {
  transform-origin: right;
}

.nav-toggle-btn.active .one {
  transform: rotate(90deg) translateX(-3px);
}

.nav-toggle-btn.active .three {
  transform: rotate(90deg) translateX(3px);
}

.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  transition-delay: 0.5s;
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
  transition-delay: 0s;
}

.navbar-list>li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.navbar.active .btn-secondary {
  width: 70vw;
  height: fit-content;
  white-space: wrap;
  font-size: var(--fs-4);
  text-align: center;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: 20%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--clr-brand-1);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus)::before {
  width: 100%;
}





/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

main {
  overflow: hidden;
}

.hero {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  margin-bottom: var(--section-padding);
  position: relative;
}

.hero-banner {
  position: absolute;
  top: 45px;
  max-width: 100dvh;
  width: 125%;
  margin-bottom: 30px;

  background-image: url("/assets/images/bg-home.jpg");
  min-height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:is(.hero-social-list, .scroll-down) {
  display: none;
}

.hero-content {
  --color-primary: var(--clr-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 650px;
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap20);
}

.hero-title {
  text-align: center;
  /* margin-bottom: 15px; */
}

.hero-text {
  --color-primary: --clr-black;
  font-size: var(--fs-4);
  line-height: 1.4;
  /* margin-bottom: 15px; */
}






/*-----------------------------------*\
 * #STATS
\*-----------------------------------*/

.stats-list {
  display: grid;
  gap: var(--gap30);
  margin-bottom: var(--gap30);
}

.stats-list-B {
  grid-template-columns: repeat(3, 1fr);
}

.trust-item {
  display: none;
}

.stats-card {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: var(--gap10);
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  position: relative;
}

.stats-list-A .stats-card {
  padding: 25px;
}

.stats-list-B .stats-card {
  padding: 5px;
}

.stats-card:is(:hover, :focus) {
  transform: translateY(-5px);
}

.stats-card .tooltip {
  bottom: -40px;

}

.hero-social-link .tooltip,
.contact-social-link .tooltip {
  top: -40px;
}

.stats-card:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
  /* top: unset; */
}

.stats-card .card-icon {
  background: var(--clr-brand-1);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.stats-card .card-icon img {
  width: 70%;
  filter: invert(1);
}

.stats-card .card-title {
  width: calc(100% - 95px);
  color: var(--clr-brand-1);
  text-align: center;
}

.stats-card .card-title strong {
  display: block;
  color: var(--color-primary);
  font-size: initial;
  line-height: 1.3;
  margin-top: 5px;
}

.stats-card>ion-icon {
  color: var(--color-secondary);
}

.stats-card>img {
  max-width: 20vw;
  margin-inline: auto;
}





/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about-banner {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 80px;
}

.about-list {
  column-count: 2;
  column-gap: 25px;
}

.about-list>li:first-child {
  column-span: all;
}

.about-list>li:first-child .section-title {
  padding-top: var(--gap50);
}

.about-list>li {
  margin-bottom: 25px;
}

.about .btn {
  max-width: unset;
  width: 100%;
}

.about .btn-secondary {
  margin-bottom: 10px;
}






/*-----------------------------------*\
 * #BENEFITS
\*-----------------------------------*/

.benefits-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap15);
  overflow: hidden;
  margin-bottom: var(--gap20);
}

.benefits-card {
  text-align: center;

  * {
    margin-inline: auto;
  }
}

#benefits>.btn-group {
  --clr-brand-3: var(--clr-brand-1);
}




/*-----------------------------------*\
 * #RELIANCE
\*-----------------------------------*/

.reliance-container {
  background-color: #ffffff51;
  padding: var(--gap10);
  margin-bottom: var(--gap20);
}

.reliance-item {
  list-style-type: circle;
  line-height: 1.2;
  margin: 8px 8px 8px 24px;
}





/*-----------------------------------*\
 * #TESTIMONIALS
\*-----------------------------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.testimonial-slides {
  display: none;
}

.testimonial-icon {
  width: fit-content;
  margin: auto;
  font-size: var(--fs-2);
  color: var(--clr-grey);
}

/* Testimonial text */

.testimonial-content {
  color: var(--clr-grey);
  line-height: 1.8;
  padding: 16px 24px;
  width: 100%;
  text-align: center;
}

.testimonial-text {
  font-size: var(--fs-6);
  height: 12rem;
}

.testimonial-client {
  font-size: var(--fs-6);
}


/* Number text (1/3 etc) */
.numbertext {
  color: var(--input-bg);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.test-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--input-bg);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activated {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}




/*-----------------------------------*\
 * #SKILLS
\*-----------------------------------*/

.skills-content {
  margin-bottom: 50px;
}

.skills-toggle {
  background: var(--bg-secondary);
  position: relative;
  width: max-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.skills-toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 93px;
  background: var(--clr-brand-1);
  border-radius: 100px;
  transition: var(--transition-1);
  z-index: -1;
}

.skills-toggle.active::before {
  left: 98px;
  width: 94px;
}

.toggle-btn {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  padding: 5px 25px;
  transition: var(--transition-1);
}

.toggle-btn.active {
  color: var(--clr-white);
}

.skills-box.active .skills-list,
.skills-box .tools-list {
  display: none;
}

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap15);
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.skill-card {
  position: relative;
  background: var(--bg-secondary);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  cursor: help;
}

.skill-card:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}





/*-----------------------------------*\
 * #PROJECT
\*-----------------------------------*/

.project-list>li {
  margin-bottom: 25px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-12);
  box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: var(--transition-1);
}

.project-card:is(:hover, :focus)::after {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(0.5px);
}

.project-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.project-card .card-title {
  margin-bottom: 10px;
}

.project-card :is(.card-title, .publish-date) {
  background: var(--bg-primary);
  padding: 6px 12px;
  width: 100%;
  box-shadow: var(--shadow-1);
  transform: translateY(50px);
  /* opacity: 0; */
  transition: var(--transition-1);
}

.project-card .publish-date {
  font-size: var(--fs-6);
  color: var(--color-primary);
  transition-delay: 0s;
}

.project-card:is(:hover, :focus) :is(.card-title, .publish-date) {
  transform: translateY(0px);
  /* opacity: 1; */
}

.project-card :is(.publish-date) {
  opacity: 0;
}

.project-card:is(:hover, :focus) :is(.publish-date) {
  opacity: 1;
}

.project-card:is(:hover, :focus) .publish-date {
  transition-delay: 0.25s;
}

.load-more {
  font-size: var(--fs-4);
  color: var(--clr-brand-1);
  text-decoration: underline;
  margin-inline: auto;
}





/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact-content {
  margin-bottom: var(--gap50);
}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: var(--gap15);
  margin-bottom: var(--gap20);
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-item-title {
  margin-bottom: var(--gap10);
}

.contact-list-item .contact-info {
  color: var(--color-secondary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.contact-info:not(address):is(:hover, :focus) {
  color: var(--color-primary);
}

.contact-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap15);
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: var(--color-primary);
  color: var(--bg-primary);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition-1);
}

.contact-social-link:is(:hover, :focus) {
  background: var(--clr-brand-1);
  color: var(--clr-white);
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}

.form-wrapper {
  margin-bottom: 25px;
}

.moneyslot {
  display: none;
}

.form-label {
  color: var(--color-primary);
  font-size: var(--fs-7);
  font-family: var(--ff-poppins);
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: var(--input-bg);
  color: var(--clr-brand-1);
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus+ion-icon {
  color: var(--clr-brand-1);
}

.contact .btn-primary {
  max-width: unset;
  width: 100%;
}



/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

/* .cta {
  margin: var(--section-padding) 0;
} */

.section-text ion-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}







/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer {
  background: var(--bg-secondary);
  padding-block: 20px;
  text-align: center;
  box-shadow: var(--shadow-1);
}

.footer .logo {
  margin-bottom: 15px;

  img {
    height: 80px;
  }
}

.copyright {
  color: var(--color-secondary);
  line-height: 1.6;
}

.copyright a {
  display: inline-block;
  color: var(--clr-brand-1);
}





/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: var(--transition-1);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}


.go-top:is(:hover, :focus) {
  background: var(--clr-brand-1);
  color: var(--clr-white);
}

.go-top:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .section-title {
    max-width: 380px;
  }

  /**
   * TESTIMONIALS
   */


  .testimonial-text {
    height: 6rem;
  }




  /**
   * PROJECT
   */

  .project-list {
    column-count: 2;
    column-gap: 25px;
  }

  .project-list>li:first-child {
    column-span: all;
  }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section-title {
    max-width: 420px;
  }



  /**
   * STATS
   */

  .stats-list-A {
    grid-template-columns: 1fr 1fr;
  }

  .trust-item {
    display: block;
  }

  .stats-list-B {
    display: none;
  }

  .stats-grid-item1 {
    order: 1;
  }

  .stats-grid-item2 {
    order: 2;
  }

  .stats-grid-item3 {
    order: 3;
  }

  .stats-grid-item4 {
    order: 4;
  }

  .stats-grid-item5 {
    order: 5;
  }

  .stats-grid-item6 {
    order: 6;
  }



  /**
   * ABOUT
   */

  .about .btn {
    max-width: max-content;
  }

  .about .btn-secondary {
    margin-bottom: 0;
  }



  /**
   * CONTACT
   */

  .contact-form {
    max-width: 450px;
    margin-inline: auto;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.8rem;

    /**
     * spacing
     */

    --content-padding: 50px;
    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  .section-content {
    position: relative;
    padding-left: 40px;
  }

  .section-subtitle {
    position: absolute;
    top: 8px;
    left: 2px;
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    margin-bottom: 0;
  }

  .section-subtitle::after {
    top: 8px;
    left: auto;
    right: calc(100% + 20px);
  }



  /**
   * HEADER
   */

  .header {
    padding-block: 30px;
  }

  .header.active {
    padding-block: 15px;
  }

  .header .logo {
    img {
      height: 47px;
    }
  }

  .navbar-actions {
    order: 1;
    margin-left: 0;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar {
    all: unset;
  }

  .navbar-link {
    transform: translateY(0);
    font-size: unset;
    padding-inline: 5px;
  }

  .navbar-list>li {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap20);
  }

  .navbar-link::before {
    height: 2px;
  }



  /**
   * HERO
   */

  .hero {
    position: relative;
    padding-top: 0;
    height: 100vh;
  }

  .hero-banner {
    max-width: unset;
    height: 100%;
    margin-bottom: 0;
  }

  .hero img {
    height: 100%;
    width: auto;
    margin-inline: auto;
  }

  .hero-content {
    gap: var(--gap30);
    position: absolute;
    top: 50%;
    filter: drop-shadow(2px 4px 10px var(--clr-black));
  }

  .hero-text {
    line-height: 1.8;
  }

  .hero-social-list {
    display: block;
    position: absolute;
    bottom: 92px;
    left: -30px;
  }

  .hero-social-list::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 13px;
    width: 2px;
    height: 30px;
    background: var(--color-secondary);
  }

  .hero-social-link {
    position: relative;
    color: var(--color-secondary);
    margin-block: 5px;
    padding: 5px;
    font-size: 18px;
    transition: var(--transition-1);
  }

  .hero-social-link:is(:hover, :focus) {
    color: var(--color-primary);
  }

  .hero-social-link .tooltip {
    --trans-x: 10px;

    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) translateX(var(--trans-x));
  }

  .hero-social-link:is(:hover, :focus) .tooltip {
    --trans-x: 0;
    opacity: 1;
  }

  .scroll-down {
    display: block;
    position: absolute;
    bottom: 80px;
    right: -30px;
    color: var(--color-secondary);
    font-size: 1.125rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: top right;
    padding: var(--btn-padding);
  }

  .scroll-down::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -50px;
    width: 30px;
    height: 2px;
    background: var(--color-secondary);
  }



  /**
   * STATS
   */

  .stats-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .stats-card {
    height: 100%;
  }

  .stats-grid-item1 {
    order: unset;
  }

  .stats-grid-item2 {
    order: unset;
  }

  .stats-grid-item3 {
    order: unset;
  }

  .stats-grid-item4 {
    order: unset;
  }

  .stats-grid-item5 {
    order: unset;
  }

  .stats-grid-item6 {
    order: unset;
  }



  /**
   * ABOUT
   */

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: var(--gap30);
  }

  .about-banner {
    margin-bottom: 0;
  }





  /**
   * TESTIMONIALS
   */

  .testimonial-text {
    font-size: var(--fs-5);
    height: 7rem;
  }



  /**
   * SKILLS
   */

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap50);
  }

  .skills-content {
    margin-bottom: 0;
  }

  .skills-toggle {
    margin-inline: 0;
  }



  /**
   * PROJECT
   */

  .project-list {
    column-count: 3;
  }

  .project-list>li:first-child {
    column-span: unset;
    margin: 25px;
    margin-left: 0;
  }



  /**
   * CONTACT
   */

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap30);
  }

  .contact-content {
    margin-bottom: 0;
  }

  .contact-form {
    width: 100%;
  }

  .contact-list {
    margin-left: -40px;
  }



  /**
   * FOOTER
   */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .logo {
    margin-bottom: 0;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1150px;
  }

  .section-title {
    max-width: 460px;
  }




  /**
   * HERO
   */

  .hero-social-list {
    left: -80px;
  }

  .scroll-down {
    right: -80px;
  }




  /**
   * ABOUT
   */

  .about-banner {
    max-width: 450px;
  }

}